<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
   
    {{ content_for_header }}

    <style>
    @font-face {
      font-family: "new-republic";
      src:local("new-republic"),
      url('{{"sfnewrepublic-webfont.woff2" | asset_url }}') format("woff2"),
      url("{{'sfnewrepublic-webfont.woff' | asset_url }}") format('woff');
      font-style: normal;
      font-weight: normal;
    }

    @font-face {
      font-family: "minion-pro";
      src:local('minion-pro'),
     url('{{"minionpro-regular-webfont.woff2" | asset_url }}') format("woff2"),
      url("{{'minionpro-regular-webfont.woff' | asset_url }}") format('woff');
      font-style: normal;
      font-weight: normal;
    }
  </style>


    {{ 'style.normalize.css' | asset_url | stylesheet_tag }}
    {{ 'style.base.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'base.css' | asset_url | stylesheet_tag }} {% endcomment %}
    {{ 'style.typography.css' | asset_url | stylesheet_tag }}

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body class="gradient {% if template == 'index' %} home {% endif %}">
    {% section 'announcement-bar' %}

    {% section 'header' %}
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'foter' %}
  </body>
</html>
