{{'section-main-product.css' | asset_url | stylesheet_tag}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

</head>

<div class="main-product">
  <div class="container">
    <div class="main-section">
      <div class="product-gallary-container">
        <div thumbsSlider="" class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for image in product.images %}
            <div class="swiper-slide">
              <img class="lazyload" src="{{image | img_url:'700x'}}" data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                data-aspectratio="{{  image.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover"
                alt="{{ image.alt | escape }}" loading="lazy">
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper product-gallary">
          <div class="swiper-wrapper">
            {% for image in product.images %}
            <div class="swiper-slide">
              <img class="lazyload" src="{{image | img_url:'700x'}}" data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                data-aspectratio="{{  image.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover"
                alt="{{ image.alt | escape }}" loading="lazy">
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
      {% assign current_variant = product.selected_or_first_available_variant | default: product.variants.first %}
      {% assign product_details = product.metafields.accentuate.product_details%}
      <form class="product-details" data-product='{{ product | json }}'>
        <h4 class="product-type">{{product.type}}</h4>
        <h3 class="product-title">
          {{product.title}}
        </h3>
        <p class="product-price">
          {{ product.selected_or_first_available_variant.price | money }}
        </p>
        <select class="variant-selection h4" id="{{variant.id}}">
          {% for variant in product.variants %}
          <option value="{{variant.id}}">{{variant.title}}</option>
          {% endfor %}
        </select>
        <button type="submit" href="" class="add-cart-btn h4" aria-label="add to cart button">
          add to cart {{section.settings.btn_label}}
        </button>
        <div class="product-details-box">

          {% for item in product_details%}
            <h4 class="product-detail-item">{{item}}</h4>
          {% endfor %}
        </div>
        <div class="product-description">
          <h4 class="description-title">Description</h4>
          <p>
            {{product.description}}
          </p>
        </div>

        <div class="product-additional-info-metafields">
          {{product.metafields.accentuate.product_addtional_info}}
        </div>


      </form>
    </div>
  </div>

</div>
</div>

<script>
  let swiper = new Swiper(".mySwiper", {
    direction: 'vertical',
    spaceBetween: 20,
    slidesPerView: 2,
    freeMode: true,
    watchSlidesProgress: true,
  });
  let swiper2 = new Swiper(".product-gallary", {
    spaceBetween: 10,
    autoplay: {
      delay: 5000,
    },
    thumbs: {
      swiper: swiper,
    },
  });

</script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js" defer></script>