{{ "template-collection-grid.css" | asset_url | stylesheet_tag }}
<!-- <script src="{{ 'product-grid.js' | asset_url }}" defer></script> -->
<div class="product-grid">
  <div class="container">
    <div class="container__header">
      <div class="header__filter">
        <form class="filter-form">
          {%- for filter in collection.filters -%}
          <div class="filter-group">
            <div class="filter-group-display">
              {%- case filter.type -%}
              {%- when 'boolean' or 'list' -%}
              <ul class="filter-group-display__list">
                <li class="filter-all h3">
                  <input type="radio" id="filter-all" {% if filter.active_values.size==0 %} checked {% endif %}>

                  <label for="filter-all">
                    <a href="/collections/all" class="filter-group-display__header-reset">
                      all
                    </a>
                  </label>
                </li>
                {%- for filter_value in filter.values -%}
                <li class="filter-group-display__list-item h3" data-value={{ collection | json }}>
                  <button type="submit" class="h3">

                    <input type="radio" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}"
                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active -%}checked{%-
                      endif %} {% if filter_value.count==0 and filter_value.active==false -%}disabled{%- endif %}>
                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                      {{ filter_value.label }}</label>
                  </button>
                </li>
                {%- endfor -%}
              </ul>

              {%- endcase -%}
            </div>
          </div>
          {%- endfor -%}
        </form>
      </div>
      <div class="header__sort-container">
        <div class="product-sort">
          <label for="sort-by" class="h4">sort by</label>

          <select id="sort-by" class="h4">
            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

            {% for option in collection.sort_options %}
            <option value="{{ option.value }}" {% if option.value==sort_by %}selected="selected" {% endif %}>
              {{ option.name }}
            </option>
            {% endfor %}
          </select>

        </div>

        <div class="select-collection">
          <label for="select-collection" class="h4">collections</label>
          <select class="collection-handle h4" name="" id="select-collection">
            <option value="default">Choose collection</option>
            {% for collection in collections %}
            <option value="{{collection.handle}}">{{collection.title}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="container__main" ">
      {% paginate collection.products by 11 %}
      <div class="product-grid-section">
        {% for product in collection.products %}
        <div class="product-grid__bucket">
          <div class="product__img-wrap">
            <img srcset="
                {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
              " src="{{ product.featured_media | image_url: width: 533 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ product.featured_media.alt | escape }}" class="motion-reduce" {% unless lazy_load==false %}
              loading="lazy" {% endunless %} width="{{ product.featured_media.width }}"
              height="{{ product.featured_media.height }}">
          </div>
          <h3 class="product__title">{{product.title | link_to: product.url}}</h3>
          <h4 class="product__price">
            {{product.price | money}}
          </h4>
          <h4 class="product__tag">{{product.tags[0]}}</h4>
         <!-- Swym button on product pages -->
        <div class="swym-wishlist-button-bar"></div>
        <!-- Swym button on product pages -->
        </div>
        {% endfor %}


        {% assign banner_images=collection.metafields.accentuate.add_media %}
        {% assign banner_heading=collection.metafields.accentuate.add_content %}
        {% assign banner_button_title=collection.metafields.accentuate.button_cta %}
        {% assign banner_button_link=collection.metafields.accentuate.product_reference %}

        {% for section in (1..banner_images.size) %}
        <div class="add-banner add-banner-{{forloop.index}}">
          <div class="banner-img">
            <img class="lazyload" src="{{banner_images[forloop.index0][0].src }}" data-src="{{ img_url }}"
              data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-aspectratio="{{  banner_images[forloop.index0][0].aspect_ratio }}" data-sizes="auto"
              data-parent-fit="cover" alt="{{ banner_images[forloop.index0][0].alt | escape }}" loading="lazy">
          </div>

          <div class="banner-content">
            <h3>{{banner_heading[forloop.index0]}}</h3>

            {% render 'button-primary', title:{{banner_button_title[forloop.index0]}},
            link:{{banner_button_link[forloop.index0]}} %}

          </div>
        </div>    
        {% endfor %}

      </div>

      <div class="container__bottom pagination">
        <button class="previous-btn h4">
          <a href="{{ paginate.previous.url }}" class="h4 ">
            previous
          </a>
        </button>
        <div class="navigation-bar">
          {% for part in paginate.parts -%}
          <span class="bottom-nav-part h4 {% if forloop.index==paginate.current_page %} active {% endif %}">
            {{ part.title | link_to: part.url}}
          </span>
          {%- endfor %}
        </div>
        <button class="next-btn">
          <a href="{{ paginate.next.url }}" class="h4">
            next
          </a>
        </button>
      </div>
      {% endpaginate %}
    </div>


  </div>
</div>

<script>

  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });

  // updating path name
  let collectionHandle = document.querySelector('.collection-handle');
  collectionHandle.addEventListener('change', (e) => {
    location.pathname = '/collections/' + (e.target.value);
  })

  // updating select options
  if (location.pathname === '/collections/all') {
    collectionHandle.value = 'default'
  } else {
    collectionHandle.value = location.pathname.split('/')[2];
  }
</script>
